[submodule "racer"]
	path = racer
	url = https://github.com/phildawes/racer.git
[submodule "lfe"]
	path = lfe
	url = https://github.com/lfe/lfe.git
[submodule "js-doc"]
	path = js-doc
	url = https://github.com/mooz/js-doc.git
[submodule "PG"]
	path = PG
	url = https://github.com/ProofGeneral/PG
[submodule "emacs-open-color-theme"]
	path = emacs-open-color-theme
	url = https://github.com/perillamint/emacs-open-color-theme.git
